*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: center;
}

.jf-sb{
    justify-content: space-between;
    
}


.container{
    max-width: 1400px;
    margin:0;
    padding: 30px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition-duration: 0.3s;   
}

nav ul li a:hover{
    color: gray;
}


nav ul li{
    list-style: none;

}
.bg-color{
    background-color:#74C69D;
    padding-bottom: 40px;
    
   
}
.together{
    display: flex;
    
    color: white;
    gap: 20px;
    font-size: 20px;
}
/* new section */

.well{
    color: rgb(0, 0, 0);
   margin-top: 50px;
    text-align: center;
    font-size: larger;
   
}


.mb-20{
margin-bottom: 20px;
}

/* mainnn */
main{
    margin-top: 50px;
}

   
    



.form input{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    padding: 10px 120px;
    background-color: rgb(232, 230, 230);
    border: 1px solid gray;
    border-radius: 5px;
    
    
    
    
}
.form label{
    cursor: pointer;
}


.padd input{
    padding: 35px;
}

.form-submit input{
    display: block;
    width: 100%;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    
}
.form-submit input:hover{
    background: gray;
}

/* fooooter */

footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #74C69D;
    padding: 70px 0px 70px 0px;
}
.icons{
    color: white;
    display: flex;
    gap: 30px;
    font-size:medium;
}

.icons i{
    cursor: pointer;
}
.start{
    color: aliceblue;
    font-size: medium;
    cursor: pointer;
}

.txt{
    padding:0px 0px 0px 20px ;
}

@media only screen and (max-width: 768px) {
    .row{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        align-items: center;  
       
    }
    
    footer{
        flex-direction: column;
        
         
       }
       footer .start{
        margin-top: 20px;
        text-align: center;
        
       }
       footer .icons{
        justify-content: center;
       }
   }
  
  


